.transaction-information{
  margin-right: 5px;
  margin-left: 5px;
}

.coinbase-signup{
  text-align: center;
}

.profile-picture{
  float: left;
  margin-right: 9px;
  margin-bottom: 17px;
}

.clear{
  clear: both;
}

.welcome-header{
  display: inline-block;
}

.venmo-signup{
  display: inline-block;
  padding-bottom: 10px;
}

th{
    text-align: left;
}


tbody:before {
    content: "-";
    display: block;
    line-height: .2px;
    color: transparent;
}

.transaction-row:before{
  content: "-";
  display: block;
  line-height: 29.2px;
  margin: -2px;
  color: transparent;
}

.transaction-row{
  margin: 10px;
}


tr{
  padding:0px;
  width:100%;
  border:1px solid #BAB1B1;
  margin: 5px;
}


.input{
  display: inline-block;
}

.search-bar{
  padding-top: 20px;
  float: right;
  margin-right: 119px;
}

.profile-container{
  margin: 20px auto;
  background-color: white;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#user{
  display: inline-block;
  padding-top: 10px;
}



body{
  background-color: #FAFAFA;
}

.github{
  float: left;
  padding-left: 10px;
}

.card .card-action a {
  color: white;
}

/* Vivek */

.header{
  background-color: #1D75B7;
}

.coinbase-signup {
  background: #FFF;
  padding: 50px 0px;
}

.coinbase-signup h4 {
  position: relative;
  text-align: center;
}

.coinbase-signup h4 span {
  background: #FFF;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.coinbase-signup h4:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.coinbase-signup h4:before {
  left: 0;
}

/*.clear li {

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 20px;
}*/

.clear {
  padding: 50px 0px;
}

.clear li {
  height: 44px;
}

.clear li .fa {
  color: rgb(1, 104, 187);
}

.titleborder {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 1px solid #eeeeee;
  margin-top: 8px;
}

.clear h4 {
  position: relative;
  text-align: center;
}

.clear h4 span {
  background: #FAFAFA;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.clear h4:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.clear h4:before {
  left: 0;
}

.btn {
  background-color: rgb(43, 113, 177);
}

