.transaction-information{
  margin-right: 5px;
  margin-left: 5px;
}

.transaction-row{
  margin: 10px;
}

th {
    text-align: left;
}

tr
{
  padding:0px;
  width:100%;
  border:1px solid #BAB1B1;
}

.row-spacing
{
  height: 4px;
}

.profile-container
{
  margin: 10px;
}

.header
{
  background-color: rgb(244, 244, 244);
  height: 50px;
  text-align: right;
}

#Sign_out
{
  display: inline-block;
  text-align: right;
}

#home
{
  display: inline-block;
}
