<form class='payment-form' method="post" action="/transactions" class="new-payment-form">
  <input type='text' name='to' placeholder='Email or Phone number'/>
  <input type='text' name='amount' placeholder='Amount (USD)'/>
  <input type='text' name='description' placeholder='Note'/>
  <input type='text' name='auth' placeholder='2 factor auth code'/>
  <input class = "waves-effect waves-light btn" type='submit' value='Send Payment'/>
  <input type="hidden" name="currency" value="USD"/>
</form>

