<!-- <form class='payment-form' method="post" action="/transactions" class="new-payment-form"> -->
  <!-- <input type='text' name='to' placeholder='Email or Phone number'/> -->
  <!-- <input type='text' name='amount' placeholder='Amount (USD)'/> -->
  <!-- <input type='text' name='description' placeholder='Note'/> -->
  <!-- <input type='text' name='auth' placeholder='2 factor auth code'/> -->
  <!-- <input class = "waves-effect waves-light btn" type='submit' value='Send Payment'/> -->
  <!-- <input type="hidden" name="currency" value="USD"/> -->
<!-- </form> -->


<div class="row">
    <form class="col s12 payment-form" method="post" action="/transactions" >
      <div class="row">
        <div class="input-field col s6">
          <input type='text' name='to' placeholder='Email or Phone number' class="validate"/>
          <label for="to">Email or Phone number</label>
        </div>
        <div class="input-field col s6">
          <input id="amount" type="text" class="validate">
          <label for="amount">Amount (USD)</label>
        </div>
        <div class="input-field col s6">
          <input id="description" type="text" class="validate">
          <label for="description">Note</label>
        </div>
        <div class="input-field col s6">
          <input id="auth" type="text" class="validate">
          <label for="auth">Authy code</label>
        </div>
        <div class="input-field col s6">
          <input id="submit" type="submit" class="validate waves-effect waves-light btn">
          <label for="submit">Send payment</label>
        </div>
      </div>
    </form>
  </div>