

<a href="/profile/<%= current_user.username %>"><h2>Go to my profile</h2></a>


<div class="api-button">
  <button id="coinbase">Link Coinbase</button>
  <button id="venmo">Link Venmo</button>
</div>
