<div class="profile-container">

  <div class="coinbase-signup">
    <h2>Signin with Coinbase to get started:</h2>
    <a href="/auth/coinbase" class="login-button">Sign in with Coinbase</a>
  </div>

</div>


