

  <div class="coinbase-signup" >
    <p>Welcome to Paywithbits!(Alpha)</p>
    <h5>Signin with Coinbase to get started:</h5>
    <a href="/auth/coinbase" class="waves-effect waves-light btn">Sign in with Coinbase</a>
  </div>

  <div class='clear'>
    <p><strong>How does it work?</strong></p>
    <ol>
        <li>Fill out the payment form with the email of<em>the user you want to Venmo</em></li>
        <li>Funds will be transfered out of your Coinbase account</li>
        <li>In exchange, funds will be transfered into your Venmo account</li>
        <li>Then, payment will be sent from your Venmo account to the original recipient's Venmo account</li>
    </ol>
  </div>



