<div class="profile-container">

  <div class="coinbase-signup" >
    <h2>Signin with Coinbase to get started:</h2>
    <a href="/auth/coinbase" class="login-button">Sign in with Coinbase</a>
  </div>

  <div class='clear'>
    <h3>Welcome to the Alpha version of Paywithbits!</h3>
    <h4>How does this work?</h4>
    <ul>
        <li>Fill out the payment form with the email set to <em>the user you want to Venmo</em></li>
        <li>Funds will be transfered out of your Coinbase account</li>
        <li>In exchange, funds will be transfered into your Venmo account</li>
        <li>Then, payment will be sent from your Venmo account to the original recipient's Venmo account</li>
    </ul>


  </div>

</div>


