<div class='container-index' style="display:flex;justify-content:center;align-items:center;">
  <div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Welcome!</span>
            <p>You're using the alapha version of PaywithBits. It's a proof of concept that allows Coinbase users to seemlessly send payments to Venmo users</p>
          </div>
          <div class="card-action">
            <a href="/auth/coinbase" class="waves-effect waves-light btn">Connect your Coinbase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="display:flex;justify-content:center;align-items:center;">
  <ul class="collection with-header">
    <li class="collection-header"><h4>How it works:</h4></li>
    <li class="collection-item">Fill out the payment form with the email of<em>the user you want to Venmo</em></li>
    <li class="collection-item">Funds will be transfered out of your Coinbase account</li>
    <li class="collection-item">In exchange, funds will be transfered into your Venmo account</li>
    <li class="collection-item">Then, payment will be sent from your Venmo account to the original recipient's Venmo account</li>
  </ul>
</div>

