<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/profile.js"></script>

  <title></title>
</head>
  <body>
    <div class="header">
      <% if current_user %>
         <div id="Sign_out">
          <button><a href="/">Home</a></button>
        </div>
        <div id="Sign_out">
          <button><a href="/logout">Sign out</a></button>
        </div>
      <% else %>
        <div class="not_logged_in_home">
          <h3>Welcome to Bitmo(Alpha)</h3>
        </div>
      <% end  %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
